<div class="col-8 offset-2">
  <hr>
  <h1 class="text-center">Approve or Reject Employee</h1>
  <hr>
  <table class="table table-borderless">
    <thead>
      <tr>
        <th>S.No:</th>
        <th>Employee Name</th>
        <th>Company</th>
      </tr>
    </thead>
    <tbody>
    <% @employee.each_with_index do |employee,i|%>
      <tr>
        <td><%= i+1 %></td>
        <td><%= employee.name %></td>
        <td><%= employee.company.name %></td>
        <td>
          <%= 
            link_to "Profile", employee_profile_path(employee.id),
            class: "btn btn-primary btn-sm"
          %>
      </tr>      
    <% end %>
    </tbody>
  </table>      
  <a class="btn btn-primary" href="/dashboard" role="button">Back</a>
</div>