<div class="container">
  <div class="row">
    <div class="col-md-12 mx-auto">
      <h1 class="align-center">Welcome <%=@employee.name.titleize %>! </h1>
      <div class="col-8 align-center">
        <p>Phone:<%= @employee.phone%></p>
        <p>Company:<%= @employee.company.name %> </p>
      </div>
    </div>
  </div>
</div>