<h3><i class="fa fa-home" aria-hidden="true"></i> Chef Dashboard </h3>
<hr/>
 
<div class="row">
  <div class= "col-md-3">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Manage Orders</h5>
        <p class="card-text text-muted">Section to manage ongoing orders (alongwith messages) placed in the store.</p>
        <a href="/chef_profiles/orders" class="btn btn-primary">Manage Orders</a>
      </div>
    </div>
  </div>

  <div class= "col-md-3">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Add Food Item</h5>
        <p class="card-text text-muted">Section to manage food item of the store.</p>
        <a href="/food_items" class="btn btn-primary">Add food items</a>
      </div>
    </div>
  </div>
</div> 