<h3><i class="fa fa-home" aria-hidden="true"></i> Chef Dashboard </h3>
<hr/>
 
<div class="row d-flex justify-content-center">

  <div class="card col-md-3 col-xs-12  m-2 p-0">
    <div class="card-body">
      <h5 class="card-title">Profile</h5>
      <p class="card-text text-muted">Section to view or create profile.</p>  
    </div>
    <div class="card-footer">
      <%= link_to "Profile", chef_profile_path(current_user.chef_profile.id), class: "btn btn-primary", title: "Profile" %>
    </div>
  </div>

  <div class="card col-md-3 col-xs-12 m-2 p-0">
    <div class="card-body">
      <h5 class="card-title">Add Food Item</h5>
      <p class="card-text text-muted">Section to manage food item of the store.</p>
    </div>
    <div class="card-footer">
      <a href="/food_items" class="btn btn-primary" title="Food Items">Add food items</a>
    </div>
  </div>

  <div class="card col-md-3 col-xs-12 m-2 p-0">
    <div class="card-body">
      <h5 class="card-title">Manage Orders</h5>
      <p class="card-text text-muted">Section to manage ongoing orders (alongwith messages) placed in the store.</p>
    </div>
    <div class="card-footer">
      <a href="/chef_profiles/orders" class="btn btn-primary" title= "Manage orders">Manage Orders</a>
    </div>
  </div>

  <div class="card col-md-3 col-xs-12 m-2 p-0">
    <div class="card-body">
      <h5 class="card-title">Gallery</h5>
      <p class="card-text text-muted">Section to upload and view existing uploaded images.</p>
    </div>
    <div class="card-footer">
      <a href="/chef_profiles/gallery" class="btn btn-primary" title="Gallery">Gallery</a>
    </div>
  </div>
</div> 