<div class="col-5">
  <table class="table table-borderless">
    <thead>
      <tr>
        <th>S.No:</th>
        <th>Food Store Name</th>
      </tr>
    </thead>
    <tbody>
    <% @store.each_with_index do |store,i|%>
      <tr>
        <td><%= i+1 %></td>
        <td><%= store.name %></td>
        <td>
          <%= 
            link_to "Edit", edit_food_store_path(store.id),
            class: "btn btn-primary btn-sm"
          %>
        </td>
        <td>
          <%= link_to "Delete",food_store_path(store.id), 
            data: { method: :Delete, confirm: "Are you sure ?"},
            class: "btn btn-danger btn-sm"
          %>
        </td>
      </tr>
      
    <% end %>
    </tbody>
  </table>
  
      
  <a class="btn btn-primary" href="/food_stores/new" role="button">New Food Store</a>
</div>