<div class="col-6 offset-3">
  <h3><i class="fa fa-cutlery" aria-hidden="true"></i> Food Stores</h3>
  <hr/>
  <table class="table table-borderless">
    <thead>
      <tr>
        <th>S.No:</th>
        <th>Food Store Name</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
    <% @store.each_with_index do |store,i|%>
      <tr>
        <td><%= i+1 %></td>
        <td><%= store.name %></td>
        <td>
          <a class="btn btn-info btn-sm px-3" href="food_stores/<%= store.id%>/edit" role="button" title="Edit Food Store">
            <i class="fa fa-pencil" aria-hidden="true"></i>
          </a>
          <a class="btn btn-danger btn-sm px-3" href="foods_stores/<%= store.id%>" data-confirm="Are you sure?" data-method="delete" role="button" title="Delete Food Store">
            <i class="fa fa-trash-o" aria-hidden="true"></i>
          </a>
        </td>
      </tr>      
    <% end %>
    </tbody>
  </table>  
  <hr/>
  <div class="text-center"><a class="btn btn-primary px-3" href="/food_stores/new" role="button" title="Create New Food Store">New Food Store</a></div>
</div>