<h3 class="text-center mb-4"> Available  Restaurants </h1>
<div class="row justify-content-center">
  <% @store.each do |s| %>
    <div class="card text-left col-md-4 m-2">
      <div class="card-body">
        <h6 class="card-subtitle mb-0 text-muted"><%= s.food_category.name %></h6>
        <h4 class="card-title"><%= s.name %></h4> 
        <small class="text-muted"> 
          <%= link_to "Menu", menu_path(food_store: s.id), class: "stretched-link" %>
        </small>
      </div>
    </div>
  <% end %>
</div>