<h1 class="text-center mb-4"><%= @store.name%></h1>
<div class="row justify-content-center">
  <% @item.each do |i| %>
    <div class="card text-left col-md-4 m-2">
      <div class="card-body">
        <h4 class="card-title"><%= i.name %></h4>
        <p class="card-body text-muted p-0"><%= i.description %></p>
        <p class="card-body p-0"><strong>Rs.<%= i.price %></strong></p>
      </div>
    </div>
  <% end %>
</div>