<div class="jumbotron bg-white">
  <% if (current_user.employee? && !current_user.employee_profile.approved?) || (current_user.chef? && !current_user.chef_profile.approved?)%>
    <h1 class="text-center">Awaiting Admin's approval</h1>  
  <% else %>
    <h1 class="text-center">Access Denied</h1>  
  <% end %>  
</div>