<div class="jumbotron bg-transparent">
  <% unless !logged_in? %>
    <% if current_user.employee? %>
      <% unless !current_user.employee_profile.present? %>
        <% if current_user.employee_profile.rejected? %>
          <h1 class="text-center">Your profile was not approved</h1> 
        <% elsif !current_user.employee_profile.approved? %>
          <h1 class="text-center">Awaiting Admin's approval</h1>   
        <% else %>
          <h1 class="text-center">Access Denied</h1>  
        <% end %>
      <% else %>
        <h1 class="text-center">Complete your profile first</h1>
        <div class="text-center">
          <%= link_to "Complete Profile", new_employee_profile_path, class: "btn btn-md btn-primary my-5" %>
        </div>
      <% end %>      
    <% elsif current_user.chef? %>
      <% unless !current_user.chef_profile.present? %>
        <% if current_user.chef_profile.rejected? %>
          <h1 class="text-center">Your profile was not approved</h1> 
        <% elsif !current_user.chef_profile.approved? %>
          <h1 class="text-center">Awaiting Admin's approval</h1>   
        <% else %>
        <h1 class="text-center">Access Denied</h1>  
        <% end %>
      <% else %>
        <h1 class="text-center">Complete your profile first</h1>
        <div class="text-center"><%= link_to "Complete Profile", new_chef_profile_path, class: "btn btn-md btn-primary my-5" %></div>
      <% end %>
    <% else %>
      <h1 class="text-center">Access Denied</h1>  
    <% end %>
  <% else %>
    <h1 class="text-center">Access Denied</h1>  
  <% end %>
</div>

