@import "bootstrap/scss/bootstrap";
@import "font-awesome";
@import "/*";

body {
  position: relative;
  min-height: 100vh;
  background-image: url("img.png"), url("img2.png");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: left top, right bottom;
}

.img {
  position: sticky;
  top: 100px;
  right: 0;
  z-index: -1;
}
.container {
  max-width: 1330px;
  padding-bottom: 70px;
}

ul {
  list-style: none;
}

.navbar-brand {
  color: rgb(88, 24, 69)!important;
  font-size: xx-large;
  letter-spacing: -2px;
  font-weight: bolder;
  font-style: oblique;
}

.navbar {
  height: 100px;
}

.nav-link {
  font-weight: bolder;
}

.nav-link .fa {
  font-size: 22px;
  padding: 0;
}

.nav-link:hover {
  color: rgb(88, 24, 69)!important;
}

.flash {
  position: absolute;
  top: 100px;
  z-index: 999;
  height: 3.5rem;
  width: 100%;
  letter-spacing: 1px;
  padding: 15px;
  border-radius: 0;
}

.thumbnail {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  margin: 10px;
  background-color: white;
}

.modal-dialog {
  max-width: 850px;
}

footer {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  padding: 15px 0;
  height: 60px;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

footer span {
  font-weight: 900;
  color: rgb(88, 24, 69)!important;
}

